.img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.p-img:hover {
  transform: scale(1.1);
}

.icons-container {
  display: none;
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  top:30%;
  transform: translateX(-50%);
}

.card-container:hover .icons-container {
  display: flex;

}

.icons {
  margin-right: 10px;
  margin-top: 20px;
  background-color: white;
  cursor: pointer;
  text-align: center;
}
.icons-container > span> .icon-a:hover {

color: #fff;
background-color: blueviolet;
} 

.icon-a{
  text-decoration: none;
}

