.moving img{
    aspect-ratio: 3/2 ;
    object-fit: contain;
}
.dcard img{
    width: 5%;
    aspect-ratio: 3/2 ;
    object-fit: contain;
}


.dcard img{
    width: 5%;
    aspect-ratio: 3/2 ;
    object-fit: contain;
}
.moving{
    animation: 3s linear 1s infinite alternate slidein;
}

/* 
:root {
    overflow: hidden;
    background-color: lightblue;
    display: flex;
    justify-content: center;
  }
  
  .sun {
    background-color: yellow;
    border-radius: 50%;
    height: 100vh;
    aspect-ratio: 1 / 1;
   
    animation:
      10s linear 0s infinite alternate rise,
      10s linear 0s infinite alternate bounce;
  }
  
  @keyframes rise {
    from {
      transform: translateY(110vh);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes bounce {
    from {
      transform: translateX(-50vw);
    }
    to {
      transform: translateX(50vw);
    }
  }
   */